# node modules
node_modules/

# output TypeScript
dist/

# local environment
.env
.env.local
.env.*.local

# logs
logs/
*.log
npm-debug.log*

# system files
.DS_Store
Thumbs.db

# TypeScript cache
*.tsbuildinfo

# IDE configs (JetBrains, VSCode etc.)
.idea/
.vscode/
*.swp
src/*.js